* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #6200ea;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button-container {
    display: flex;
    justify-content: center;
    /* Alinha os botões à esquerda */
    gap: 10px;
    /* Espaçamento entre os botões */
    margin-top: 10px;
}

button {
    background-color: #6200ea;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}
#countdown-container {
    position: relative;
    width: 300px;
    /* Largura do cronômetro */
    height: 300px;
    /* Altura do cronômetro */
    border-radius: 50%;
    /* Para deixar a borda redonda */
    border: 10px solid #4CAF50;
    /* Cor da borda */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    /* Adiciona um índice z para que fique acima de outros elementos */
}

#countdown {
    position: absolute;
    font-weight: bold;
    z-index: 20;
    /* Garante que o texto do cronômetro fique acima da borda */
}
/* Novo estilo para o botão de Cancelar */
a.cancel-button {
    background-color: #f44336;
    /* Cor vermelha para o botão cancelar */
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 10px;
    /* Espaçamento entre o botão de baixar e cancelar */
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}
a.cancel-button:hover {
    background-color: #d32f2f;
    /* Cor mais escura ao passar o mouse */
}

.thumbnail {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #6200ea;
    color: white;
}

/* Garantir que a logo tenha um tamanho adequado */
.logo {
    max-width: 200px;
    /* Ajuste o tamanho máximo da logo conforme necessário */
    height: auto;
}

/* Navegação com o link de login posicionado corretamente */
nav {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

/* Fundo animado */
.login-background {
    background: linear-gradient(135deg, #8e44ad,
        #4b0082);
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

/* Animação de gradiente de fundo */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Container de login */
.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título */
.login-title {
    color: #4b6cb7;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos de entrada e botão */
.login-label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

.login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-input:focus {
    border-color: #4b6cb7;
    box-shadow: 0px 0px 8px rgba(75, 108, 183, 0.3);
    outline: none;
}

.login-button {
    background-color: #4b6cb7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.login-button:hover {
    background-color: #3a55a1;
}

.login-button:active {
    transform: scale(0.98);
}

/* Link de cadastro */
.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.signup-link a {
    color: #4b6cb7;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para a mensagem de erro */
.login-message {
    font-size: 14px;
    font-weight: bold;
    color: red;
    margin-top: 10px;
}

/* Adiciona margem inferior no botão de login */
.login-button {
    margin-bottom: 10px;
    /* Adiciona 10px de espaço abaixo */
}

/* Adiciona margem superior no botão de login com Google */
#google-login-button {
    margin-top: 10px;
    /* Adiciona 10px de espaço acima */
}







/* Estilos da área de boas-vindas */
.welcome-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    font-size: 18px;
}

#welcome-message {
    margin-right: 10px;
    font-weight: bold;
}

/* Estilos para o menu de logout */
.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-toggle {
    cursor: pointer;
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Mostrar o menu de logout quando o usuário passar o mouse sobre o nome */
.dropdown:hover .dropdown-content {
    display: block;
}